<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Downtime </title>
    <style>
        body{
            background:#aaa;
        }
    </style>
</head>
<body>
    <h1>Machine Downtime Analyzer</h1>
    <form method="POST" action='/model' enctype="multipart/form-data">
        <label>Upload Dataset :
        <input type='file' name='file' accept='.csv' >
        <input type="Submit" value="Upload & Train">
    </form>
</body>
</html>